body {
    font-family: 'Poppins', sans-serif;
}

/* -------------- main ---------- */

main {
    display: flex;
    justify-content: center;
}

/*-------- match tetels -------- */

.match-tetels {
    width: 1350px;
    display: flex;
    margin-top: 130px;
    column-gap: 20px;
    margin-bottom: 130px;
}

.match-item {
    width: 312px;
    height: 255px;
    background: #161616;
    border-radius: 10px;
    display: inline;
    text-align: center;
    padding: 30px;
}

.match-item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.match-item p {
    margin-bottom: 65px;
}

.top-ancor {
    background: #DD0000;
    border-radius: 10px;
    color: white;
    padding: 20px 115px;
}

.last-ancor {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 90px;
}

.la {
    padding: 20px 49px;
}

/* --------- live-match --------- */

.live-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 1100px;
}

.live-match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}


.detels {
    padding-top: 20px;
    margin-left: 20px;
}

.themneil img {
    width: 312px;
    height: 175px;
}

.detels h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.detels a {
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;

}

.detels span {
    display: flex;
}

.detels span p {
    margin-right: 30px;
    margin-top: 0;
}





@media only screen and (max-width:992px) and (min-width:768px) {

    /* ------------ header ------------ */


    .greatest-game {
        width: 90%;
        height: 398px;
        margin: 50px 50px 0 50px;
        border-radius: 30px;
    }

    .greatest-game-title {
        padding: 61px 0 61px 60px;
        margin-right: 5px;
    }

    .greatest-game-title a {
        padding: 12px;
    }

    .greatest-game-title h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    .greatest-game-img {
        margin: 0;
        display: flex;
    }

    .greatest-game-img img {
        width: 323px;
        height: 340px;
        margin: 0px;
        margin: 58px 17px 0 0;
    }

    .greatest-game-title p span {
        display: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    .greatest-game-title p {
        margin: 10px 0 40px 0;
    }

    /* ----------- main ------------- */

    main {
        height: 1380px;
    }

    .match-tetels {
        display: inline;
        padding: 0px 50px;
        width: 100%;
    }

    .match-item {
        background: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        column-gap: 20px;
        margin-right: 0;
        height: 47px;
    }

    .top-ancor {
        padding: 17px 80px;
    }

    .last-ancor {
        padding: 17px 60px;
    }

    .la {
        padding: 17px 15px;
    }

    .live-matches {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0px;
        width: 76%;
        margin: auto;
        margin-top: 30px;

    }

    .none {
        display: none;
    }

    .live-match {
        width: 312px;
    }

    .last-ancor {
        border: 1px solid rgba(0, 0, 0, 0.262);
    }

    footer {
        height: 345px;
    }

    .footer-area {
        padding-bottom: 0;
    }

    .footer-item h2 {
        margin: 70px 0 60px 0;
    }

    .footer-detels {
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 100px;
    }

    .footer-detels a {
        font-weight: 500;
        font-size: 16px;
    }

    /* --------- view-all ------ */

    .v-a {
        display: flex;
        justify-content: center;
        margin: 50px 0 70px 0;
    }

    .view-all {
        display: contents;
        width: 100%;
    }

    .view-all a {
        text-decoration: none;
        color: white;
        padding: 12px 29px;
        background: #DD0000;
        border-radius: 5px;
    }
}